[class*=smiley-]{ 
	display: inline-block; 
	background: url('../img/smiley.png') no-repeat; 
	width:24px; 
	height:24px;
	vertical-align: middle;
}
.smiley-act-up { background-position: -2px -0px;  }
.smiley-airplane { background-position: -2px -26px;  }
.smiley-alien { background-position: -2px -52px;  }
.smiley-angel { background-position: -2px -78px;  }
.smiley-angry { background-position: -2px -104px;  }
.smiley-arrogant { background-position: -2px -130px;  }
.smiley-bad { background-position: -2px -156px;  }
.smiley-bashful { background-position: -2px -182px;  }
.smiley-beat-up { background-position: -2px -208px;  }
.smiley-beauty { background-position: -2px -234px;  }
.smiley-beer { background-position: -2px -260px;  }
.smiley-blowkiss { background-position: -2px -286px;  }
.smiley-bomb { background-position: -2px -312px;  }
.smiley-bowl { background-position: -2px -338px;  }
.smiley-boy { background-position: -2px -364px;  }
.smiley-brb { background-position: -2px -390px;  }
.smiley-bye { background-position: -2px -416px;  }
.smiley-cake { background-position: -2px -442px;  }
.smiley-call-me { background-position: -2px -468px;  }
.smiley-camera { background-position: -2px -494px;  }
.smiley-can { background-position: -2px -520px;  }
.smiley-car { background-position: -2px -546px;  }
.smiley-cat { background-position: -2px -572px;  }
.smiley-chicken { background-position: -2px -598px;  }
.smiley-clap { background-position: -2px -624px;  }
.smiley-clock { background-position: -2px -650px;  }
.smiley-cloudy { background-position: -2px -676px;  }
.smiley-clover { background-position: -2px -702px;  }
.smiley-clown { background-position: -2px -728px;  }
.smiley-coffee { background-position: -2px -754px;  }
.smiley-coins { background-position: -2px -780px;  }
.smiley-computer { background-position: -2px -806px;  }
.smiley-confused { background-position: -2px -832px;  }
.smiley-console { background-position: -2px -858px;  }
.smiley-cow { background-position: -2px -884px;  }
.smiley-cowboy { background-position: -2px -910px;  }
.smiley-crying { background-position: -2px -936px;  }
.smiley-curl-lip { background-position: -2px -962px;  }
.smiley-curse { background-position: -2px -988px;  }
.smiley-cute { background-position: -2px -1014px;  }
.smiley-dance { background-position: -2px -1040px;  }
.smiley-dazed { background-position: -2px -1066px;  }
.smiley-desire { background-position: -2px -1092px;  }
.smiley-devil { background-position: -2px -1118px;  }
.smiley-disapointed { background-position: -2px -1144px;  }
.smiley-disdain { background-position: -2px -1170px;  }
.smiley-doctor { background-position: -2px -1196px;  }
.smiley-dog { background-position: -2px -1222px;  }
.smiley-doh { background-position: -2px -1248px;  }
.smiley-dont-know { background-position: -2px -1274px;  }
.smiley-drink { background-position: -2px -1300px;  }
.smiley-drool { background-position: -2px -1326px;  }
.smiley-eat { background-position: -2px -1352px;  }
.smiley-embarrassed { background-position: -2px -1378px;  }
.smiley-eyeroll { background-position: -2px -1404px;  }
.smiley-film { background-position: -2px -1430px;  }
.smiley-fingers-crossed { background-position: -2px -1456px;  }
.smiley-flag { background-position: -2px -1482px;  }
.smiley-foot-in-mouth { background-position: -2px -1508px;  }
.smiley-freaked-out { background-position: -2px -1534px;  }
.smiley-ghost { background-position: -2px -1560px;  }
.smiley-giggle { background-position: -2px -1586px;  }
.smiley-girl { background-position: -2px -1612px;  }
.smiley-glasses-cool { background-position: -2px -1638px;  }
.smiley-glasses-nerdy { background-position: -2px -1664px;  }
.smiley-go-away { background-position: -2px -1690px;  }
.smiley-goat { background-position: -2px -1716px;  }
.smiley-good { background-position: -2px -1742px;  }
.smiley-hammer { background-position: -2px -1768px;  }
.smiley-handcuffs { background-position: -2px -1794px;  }
.smiley-handshake { background-position: -2px -1820px;  }
.smiley-highfive { background-position: -2px -1846px;  }
.smiley-hug-left { background-position: -2px -1872px;  }
.smiley-hug-right { background-position: -2px -1898px;  }
.smiley-hungry { background-position: -2px -1924px;  }
.smiley-hypnotized { background-position: -2px -1950px;  }
.smiley-in-love { background-position: -2px -1976px;  }
.smiley-island { background-position: -2px -2002px;  }
.smiley-jump { background-position: -2px -2028px;  }
.smiley-kiss { background-position: -2px -2054px;  }
.smiley-knife { background-position: -2px -2080px;  }
.smiley-lamp { background-position: -2px -2106px;  }
.smiley-lashes { background-position: -2px -2132px;  }
.smiley-laugh { background-position: -2px -2158px;  }
.smiley-liquor { background-position: -2px -2184px;  }
.smiley-love-over { background-position: -2px -2210px;  }
.smiley-love { background-position: -2px -2236px;  }
.smiley-lying { background-position: -2px -2262px;  }
.smiley-mad-tongue { background-position: -2px -2288px;  }
.smiley-mail { background-position: -2px -2314px;  }
.smiley-mean { background-position: -2px -2340px;  }
.smiley-meeting { background-position: -2px -2366px;  }
.smiley-mobile { background-position: -2px -2392px;  }
.smiley-moneymouth { background-position: -2px -2418px;  }
.smiley-monkey { background-position: -2px -2444px;  }
.smiley-moon { background-position: -2px -2470px;  }
.smiley-musical-note { background-position: -2px -2496px;  }
.smiley-nailbiting { background-position: -2px -2522px;  }
.smiley-neutral { background-position: -2px -2548px;  }
.smiley-party { background-position: -2px -2574px;  }
.smiley-peace { background-position: -2px -2600px;  }
.smiley-phone { background-position: -2px -2626px;  }
.smiley-pig { background-position: -2px -2652px;  }
.smiley-pill { background-position: -2px -2678px;  }
.smiley-pissed-off { background-position: -2px -2704px;  }
.smiley-pizza { background-position: -2px -2730px;  }
.smiley-plate { background-position: -2px -2756px;  }
.smiley-poop { background-position: -2px -2782px;  }
.smiley-pray { background-position: -2px -2808px;  }
.smiley-present { background-position: -2px -2834px;  }
.smiley-pumpkin { background-position: -2px -2860px;  }
.smiley-qq { background-position: -2px -2886px;  }
.smiley-question { background-position: -2px -2912px;  }
.smiley-quiet { background-position: -2px -2938px;  }
.smiley-rain { background-position: -2px -2964px;  }
.smiley-rainbow { background-position: -2px -2990px;  }
.smiley-rose-dead { background-position: -2px -3016px;  }
.smiley-rose { background-position: -2px -3042px;  }
.smiley-rotfl { background-position: -2px -3068px;  }
.smiley-sad { background-position: -2px -3094px;  }
.smiley-sarcastic { background-position: -2px -3120px;  }
.smiley-search { background-position: -2px -3146px;  }
.smiley-secret { background-position: -2px -3172px;  }
.smiley-shame { background-position: -2px -3198px;  }
.smiley-sheep { background-position: -2px -3224px;  }
.smiley-shock { background-position: -2px -3250px;  }
.smiley-shout { background-position: -2px -3276px;  }
.smiley-shut-mouth { background-position: -2px -3302px;  }
.smiley-sick { background-position: -2px -3328px;  }
.smiley-sigarette { background-position: -2px -3354px;  }
.smiley-silly { background-position: -2px -3380px;  }
.smiley-skeleton { background-position: -2px -3406px;  }
.smiley-skywalker { background-position: -2px -3432px;  }
.smiley-sleepy { background-position: -2px -3458px;  }
.smiley-smile-big { background-position: -2px -3484px;  }
.smiley-smile { background-position: -2px -3510px;  }
.smiley-smirk { background-position: -2px -3536px;  }
.smiley-snail { background-position: -2px -3562px;  }
.smiley-snicker { background-position: -2px -3588px;  }
.smiley-snowman { background-position: -2px -3614px;  }
.smiley-soccerball { background-position: -2px -3640px;  }
.smiley-soldier { background-position: -2px -3666px;  }
.smiley-star { background-position: -2px -3692px;  }
.smiley-starving { background-position: -2px -3718px;  }
.smiley-struggle { background-position: -2px -3744px;  }
.smiley-sun { background-position: -2px -3770px;  }
.smiley-sweat { background-position: -2px -3796px;  }
.smiley-teeth { background-position: -2px -3822px;  }
.smiley-terror { background-position: -2px -3848px;  }
.smiley-thinking { background-position: -2px -3874px;  }
.smiley-thunder { background-position: -2px -3900px;  }
.smiley-tongue { background-position: -2px -3926px;  }
.smiley-tremble { background-position: -2px -3952px;  }
.smiley-turtle { background-position: -2px -3978px;  }
.smiley-tv { background-position: -2px -4004px;  }
.smiley-umbrella { background-position: -2px -4030px;  }
.smiley-vampire { background-position: -2px -4056px;  }
.smiley-victory { background-position: -2px -4082px;  }
.smiley-watermelon { background-position: -2px -4108px;  }
.smiley-weep { background-position: -2px -4134px;  }
.smiley-wilt { background-position: -2px -4160px;  }
.smiley-wink { background-position: -2px -4186px;  }
.smiley-worship { background-position: -2px -4212px;  }
.smiley-yawn { background-position: -2px -4238px;  }
.smiley-yin-yang { background-position: -2px -4264px;  }
.smiley-waiting { background-position: -2px -4290px; width: 21px; height: 21px; }
.smiley-excruciating { background-position: -2px -4313px; width: 20px; height: 21px; }